.clickClock__button-flat.big {
	padding: 12px 40px;
	font-size: 20px;
	line-height: 28px;
	height: auto;
	min-width: 180px;
}


.sidebar h2 {
	font-size: 18px;
	line-height: 24px;
}


.sidebar p {
	font-size: 16px;
	line-height: 24px;
	color: #3a3a3a;
}